.checkout__bill {
	background: linear-gradient(
		90deg,
		rgba(252, 203, 144, 0.44) 0%,
		rgba(255, 154, 158, 0.38) 100%
	);
	padding: 30px;
}



.checkout__total {
	border-top: 1px solid #ddd;
	padding-top: 30px;
}

h6 {
    font-size: 24px;
}
@media only screen and (max-width: 768px) {
	.checkout__bill h6 {
		font-size: 0.9rem;
	}
	.checkout__bill {
		margin-top: 40px;
	}
}

.form__group {
	margin-bottom: 30px;
}
.form__group input,
.form__group textarea {
	width: 100%;
	background: transparent;
	padding: 7px 20px;
	border: none;
	border-bottom: 1px solid #2122454c;
}

.form__group input:focus,
.form__group textarea:focus {
	outline: none;
}

.payment__btn {
	width: 210px;
	height: 60px;
	background: linear-gradient(180deg, rgba(255, 81, 81, 0.5) 0%, #ff5e3a 100%);
	border-radius: 10px;
	cursor: pointer;
	font-family: "mothwing-demo";
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 25px;
	color: #ffffff;
	margin-top: 3rem;
}
