.sub_container {
  padding-top: 150px;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.all_content {
  max-width: 1300px;
  margin: 0 auto;
}

/* ========BTN CONTAINER STYLES========= */
.left_btn_content button {
  width: 210px;
  height: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  border: none;
  outline: none;
  background: transparent !important;
}

.left_btn_content button span {
  color: #9f9f9f !important;
}

/* THIN LINE STYLES */
.thin-line-wrap {
  width: 100%;
  position: relative;
  top: 80px;
  z-index: 1;
}
.line {
  border: 1px solid #c8c8c8;
  background-color: #c8c8c8;
}

/* TABLE CONTENT STYLES */
.table_content {
  padding-top: 2rem;
  padding-left: 15px;
  padding-right: 15px;
}
table {
  border-collapse: collapse;
//   border: 1px solid #dddddd;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  position: relative;
}
thead {
  /*background: #f4f1ef;*/
  font-family: 'Montserrat-bold';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

tbody {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
tr {
  padding: 0.35em;
}
tr:hover button {
  display: block;
}

.item_img img {
  width: 100%;
  max-width: 70px;
}

th,
td {
  padding-top: 1.3em;
  padding-bottom: 1.3rem;
}

th:nth-child(1),
td:nth-child(1) {
  width: 250px;
}

td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6),
th:nth-child(3),
th:nth-child(4),
th:nth-child(5),
th:nth-child(6) {
  text-align: right;
  padding-right: 3rem;
}

.table_btn button:hover {
  display: block;
}

/*.table_btn button:nth-child(1) {
  background: rgba(158, 33, 64, 0.1);
  border-radius: 5px;
  width: 52px;
  height: 28px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9e2140;
  border: none;
  outline: none;
  margin-right: 10px;
}
*/

.table_btn button {
  width: 96px;
  height: 28px;
  background:  rgb(189, 185, 115);
  border-radius: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: none;
  outline: none;
  display: none;
/* margin-top: 1rem; */
}

.table_btn button:nth-child(2) span {
  margin-left: 3px;
}

/* ======== END OF TABLE CONTAINER STYLES========= */

/* ======== SIDE HUB ======*/
.sides-hub {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 70px;
  background: #f4f1ef;
}
p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.35);
}
/* ========END OF SIDE HUB ======*/

/* =====MEDIA QUERIES=====*/

/* ===== Footer ========*/
.footer {
  max-width: 1000px;
  margin: 0 auto;
}

.total_cart {
  display: flex;
  justify-content: space-between;
}

.empty_cart_wrap {
  display: grid;
  place-items: center;
}

.empty_cart img {
  width: 300px;
  height: 300px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.return_btn {
  height: 40px;
  background-color: rgb(220, 39, 87);
  border: none;
  outline: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-radius: 5px;
  color: white;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  color: #000;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.25rem;
  display: inline-block;
  font-weight: 700;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.action_btn {
  display: flex;
  justify-content: space-between;
}

.clear_btn {
  background: transparent;
  padding: 0.5rem 1rem;
  color: hsl(360, 67%, 44%);
  border: 1px solid hsl(360, 67%, 44%);
  margin-top: 2.25rem;
  border-radius: 0.25rem;
}
.clear_btn:hover {
  background: hsl(360, 71%, 66%);
  color: hsl(360, 67%, 44%);
  border-color: hsl(360, 71%, 66%);
}
@media screen and (max-width: 1300px) {
  .sub_container {
    padding-left: 7%;
    padding-right: 7%;
    height: 100%;
  }
  .thin-line-wrap {
    display: none;
  }

  .table_content table {
    border: 0;
  }
  thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  tr {
    border-bottom: 3px solid #000;
    display: block;
    margin-bottom: 0.625em;
  }

  td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }
  td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  td:last-child {
    border-bottom: 0;
  }
  th:nth-child(1),
  td:nth-child(1) {
    width: 100%;
  }

  td:nth-child(3),
  td:nth-child(4),
  td:nth-child(5),
  td:nth-child(6),
  th:nth-child(3),
  th:nth-child(4),
  th:nth-child(5),
  th:nth-child(6) {
    text-align: right;
    padding-right: 0rem;
  }
}

@media screen and (max-width: 900px) {
  .btn_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .right_btn_content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

/* ===== END OF MEDIA QUERIES=====*/


.clear_btn button:hover {
  background: rgb(189, 185, 115);

}