

@font-face {
  font-family: "";   /*Can be any text*/
  src: local("mothwing-demo"),
    url("./assets/font/mothwing-demo.otf") format("truetype");
}

@font-face {
  font-family: "Montez-Regular";   /*Can be any text*/
  src: local("Montez-Regular"),
    url("./assets/font/Montez-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Italic";   /*Can be any text*/
  src: local("Montserrat-Italic"),
    url("./assets/font/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Satisfy-Regular";   /*Can be any text*/
  src: local("Satisfy-Regular"),
    url("./assets/font/Satisfy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-regular";   /*Can be any text*/
  src: local("Montserrat-regular"),
    url("./assets/font/Montserrat-regular.ttf") format("truetype");
}

