.related__product-item {
	background: var(--white);
	min-width: 250px;
	height: 200px;
	position: relative;
	overflow: hidden;


	&:hover {
		border: 0.04rem solid rgba(0, 0, 0, 0.2);
		box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
	}

	&:hover .cart_btn {
		transform: translate(0, 0);
	}

	.related__product-img {
		display: flex;
		justify-content: center;
	}

	.related__product-img img {
		width: 150px;
		height: 120px;
		transition: all 1s linear;
	}
	.related__product-img:hover img {
		transform: scale(1.2);
	}

	.cart_btn {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0.2rem 0.4rem;
		background: linear-gradient(
			180deg,
			rgba(255, 81, 81, 0.5) 0%,
			#ff5e3a 100%
		);

		border: none;
		color: var(--white);
		font-size: 2.4rem;
		border-radius: 0.5rem 0 0 0;
		transform: translate(100%, 100%);
		transition: all 1s ease-in-out;
		z-index: 1;

		&:hover {
			color: var(--white);
			cursor: pointer;
		}
	}

	.related__product-img:hover .product_footer {
		box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
	}
}

.product__footer {
	// background: transparent;
	border-top: transparent;
	transition: all 1s linear;
	display: flex;
	justify-content: space-between;
	background: grey;

	& h5 {
		color: var(--white);
		font-size: 1.2rem;
		margin-top: 5px;
        font-family: 'Montserrat-Italic';
	}
}
